

.logoImage{
    border-radius: 50%;
    max-width: 10%;
}

body{
    background-color: rgb(66, 135, 245);
}
.container{
    min-height:100vh;
}
/* forms */
#type-form {
    display: flex;
    justify-content: space-evenly;
}

#genre-form h3,
#platform-form h3,
#foodChoices h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size:1.5rem;
    margin-top: 20px;
}

#type-form, #genre-form, #platform-form, #foodChoices, #locationForm {
    margin-bottom: 5px;
}

#type-form label, #genre-form label, #platform-form label, #foodChoices label {
    margin-left: 5px;
}

#locationForm label {
    margin-bottom: 5px;
}

#generatePair, #uncheck {
    display: block;
    margin: 20px auto 5px;
}

/* results */

#movie-results, #invalid-msg {
    padding: 35px;
}

#movie-results {
    display: none; 
}


#movie-results header {
    text-align: center;
    
}
#movie-results h4{
    font-size:20px;
}
#movie-results h3{
    font-size:24px;
}
#movie-results #show-poster, #foodImg {
    display: block;
    margin: 0 auto;
    width:75%;
}

#movie-results footer p {
    text-align: center;
    
}

#movie-results footer a {
    color: inherit;
}

#movie-results footer #save-show {
    display: block;
    margin: 0 auto;
}

#invalid-msg {
    display: none;
    text-align: center;
}

#invalid-msg .card-content {
    padding: 0;
}

.foodResults {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;    
}

.foodResults h3 {
    font-size: 20px;
    text-transform: capitalize;
}

#save-show {
    visibility:hidden;
    display: block;
    margin: 0 auto;
}
#foodImg{
    display: block;
    margin: 0 auto;
    width:75%;
}