/*
@media screen and (max-width: 1024px) {
 #burger{display:none} 
 .navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
}
 }

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    #burger{display:flex}
}
*/

/* movie section edits by Grace */
#type-form {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

#type-form, #genre-form, #platform-form {
    padding: 15px;
    margin-bottom: 5px;
}

#type-form label, #genre-form label, #platform-form label{
    margin-left: 5px;
}

#genre-form h3,
#platform-form h3 {
    margin-bottom: 10px;
    text-align: center;
}

#find-show {
    display: block;
    margin: 20px auto 5px;
}

#movie-results, #invalid-msg {
    padding: 35px;
    margin-top: 45px;
}

#movie-results {
    display: none;
}

#movie-results header {
    text-align: center;
    margin-bottom: 20px;
}

#movie-results #show-poster {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: auto;
}

#movie-results footer {
    margin-top: 45px;
}

#movie-results footer p {
    text-align: center;
    margin-bottom: 25px;
}

#movie-results footer a {
    color: inherit;
}

#movie-results footer #save-show {
    display: block;
    margin: 0 auto;
}

#invalid-msg {
    display: none;
    text-align: center;
}

#invalid-msg .card-content {
    padding: 0;
}

/* end of edits by Grace */

.green {
    background-color: green;
}

.blue {
    background-color: blueviolet;
}

.teal {
    background-color: teal;
}

.foodSection {
    height: 100vh;
}

#locationForm {
    margin-top: 20px;
    margin-bottom: 20px;
}

#location {
    width: 30%;
}

.foodResults {
    height: 500px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.foodResults h3 {
    font-size: 20px;
}