/*
@media screen and (max-width: 1024px) {
 #burger{display:none} 
 .navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
}
 }

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    #burger{display:flex}
}
*/
body{
    background-color: rgb(66, 135, 245);
}
html{
    background-color: rgb(66, 135, 245);
}

.bgColor {
    background-color: rgb(66, 135, 245);
}

/* forms */
#type-form {
    display: flex;
    justify-content: space-evenly;
}

#genre-form h3,
#platform-form h3,
#foodChoices h3 {
    margin-bottom: 10px;
    text-align: center;
}

#type-form, #genre-form, #platform-form, #foodChoices, #locationForm {
    margin-bottom: 5px;
}

#type-form label, #genre-form label, #platform-form label, #foodChoices label {
    margin-left: 5px;
}

#locationForm label {
    margin-bottom: 5px;
}

#generatePair, #uncheck {
    display: block;
    margin: 20px auto 5px;
}

/* results */

#movie-results, #invalid-msg {
    padding: 35px;
}

#movie-results {
    display: none; 
}


#movie-results header {
    text-align: center;
    margin-bottom: 20px;
}

#movie-results #show-poster {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: auto;
}

#movie-results .watch-trailer {
    margin-top: 5px;
    margin-bottom: 5px;
}

#movie-results .trailer-link {
    color: inherit;
}

#movie-results footer {
    margin-top: 45px;
}

#movie-results footer p {
    text-align: center;
    margin-bottom: 25px;
}

#movie-results footer a {
    color: inherit;
}

#movie-results footer #save-show {
    display: block;
    margin: 0 auto;
}

#invalid-msg {
    display: none;
    text-align: center;
}

#invalid-msg .card-content {
    padding: 0;
}

.foodResults {
    display: none;
    height: 500px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.foodResults h3 {
    font-size: 20px;
    text-transform: capitalize;
}

/*
}
.img{
    height: 300px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    
}
#genre-form label, #platform-form label{
    display: inline-block;
}
.card-content{
    display: flex;
    justify-content: left;
    
}
.content-wrapper{
    text-align: left;
}

.logoImage{
    border-radius: 50%;
}

*/